#result{
  width:210px;
  background-color:black;
  color:white;
  text-align:right;
  margin-left:auto;
  margin-right:auto;
}

#number{
  width:50px;
  margin-left:auto;
  margin-right:auto;
}
#box{
  width:105px;
  margin-left:auto;
  margin-right:auto;
}